<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Espace Pro Social</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #f2f2f2;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
    }
    nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100vw;
      height: 10vh;
      position: fixed;
      top: 0;
      z-index: 1;
    }
    .logo {
      width: 20%;
    }

    .logo img {
      width: 47%;
    }

    .searchBar {
      width: 50%;
    }

    .searchBar input {
      width: 90%;
      height: 30px;
      border-radius: 5px;
      border: none;
      outline: none;
      padding-left: 10px;
      font-size: 15px;
      font-weight: bold;
    }

    .searchBar input::placeholder {
      font-size: 15px;
      font-weight: bold;
      text-align: center;
    }

    .searchBar input:focus {
      outline: none;
      border-radius: 5px;
      border: 1px solid;
      box-shadow: 0 0 5px #d5dce4;
    }
    .profile {
      width: 10%;
      height: 90%;
    }
    .profile img {
      width: 50%;
      height: 100%;
      border-radius: 20%;
      object-fit: contain;
    }

    .logOut {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .containerContent {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 90vh;
      background-color: #f2f2f2;
      position: relative;
      overflow-x: hidden;
    }
    .shortcut {
      position: fixed;
      top: 10%;
      left: 0;
      width: 15%;
      height: 100%;
      background-color: #ff0000;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 100%;
      background-color: #4d94e4;
      margin-left: 15px;
      position: relative;
      top: 5.5%;
    }

    .content form {
      position: absolute;
      top: 5%;
    }

    .content input[type="submit"] {
      width: 20%;
      height: 25px;
      background-color: #d5dce4;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .content textarea {
      width: 90%;
      height: 100px;
      resize: none;
      background-color: #f5f5f5;
      border: none;
      border-radius: 5px;
    }

    .content input[type="file"] {
      width: 90%;
      height: 25px;
      border-radius: 5px;
    }

    .posts {
      position: relative;
      top: 35%;
      width: 100%;
      height: 100%;
      background-color: #8aca8a;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .post {
      width: 70%;
      min-height: 100px;
      background-color: #fff;
      border-radius: 5px;
      margin-top: 50px;
    }
    .friendsList {
      width: 15%;
      height: 100%;
      background-color: #5e6164;
      position: fixed;
      top: 10%;
      right: 0;
    }
  </style>
  <body>
    <section class="container">
      <nav>
        <div class="logo">
          <a href="/"><img src="/logo.png" alt="logo" /></a>
        </div>
        <div class="searchBar">
          <form action="http://localhost:3000/api/users/query" method="get">
            <input
              type="text"
              placeholder="Rechercher un utilisateur"
              name="search"
            />
          </form>
        </div>
        <div class="profile">
          <a href="">

            <img src="/<%-userDetails.avatar %>" alt="profile" />
          </a>
        </div>
        <div class="logOut">
          <a href="/">
            <span class="material-symbols-outlined"> logout </span></a
          >

          <p>Logout</p>
        </div>
      </nav>
      <div class="containerContent">
        <div class="shortcut"></div>
        <div class="content">
          <form action="" method="post">
            <textarea
              id="myTextArea"
              name="textAreaName"
              rows="4"
              cols="50"
            ></textarea>
            <br />
            <input type="file" name="" id="" />

            <br />
            <br />
            <input type="submit" value="Poster" />
          </form>
          <section class="posts">
            <div class="post"></div>
          </section>
        </div>
        <div class="friendsList"></div>
      </div>
    </section>
  </body>
</html>
